<div>
    <h1>SignUp Page</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width ">
            <mat-label>Enter First Name</mat-label>
            <input type="text" matInput [(ngModel)]="name" name="name" required>
        </mat-form-field>
        <mat-form-field class="example-full-width ">
            <mat-label>Enter Username</mat-label>
            <input type="text" matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field class="example-full-width ">
            <mat-label>Enter password</mat-label>
            <input matInput  [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="example-full-width ">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" [(ngModel)]="confirmpassword" name="confirmpassword" required>
            <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" (click)="onSignUp()">Sign Up</button>
    </form>
    
    
    
</div>