*{
    text-align: center;
    margin: 10px;
}
/*

.tdiv{
    width: 100%;
}
.addTable{
    margin: 0 auto;
    text-align: center;
}

.blogList{
    margin: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
} */

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 50%;
  }
  
  input,textarea{
    text-align: left;
  }

  .error{
    margin-top: 0px;
  }