<div class="main">
<div>
    <form class="example-form">
        <mat-form-field class="example-full-width ">
            <mat-label>Enter First Name</mat-label>
            <input type="text" matInput #fullName [(ngModel)]="firstName" name="firstName">
        </mat-form-field>
        <mat-form-field class="example-full-width ">
            <mat-label>Enter Middle Name</mat-label>
            <input type="text" matInput #fullName [(ngModel)]="middleName" name="middleName">
        </mat-form-field>
        <mat-form-field class="example-full-width ">
            <mat-label>Enter Last Name</mat-label>
            <input type="text" matInput #fullName [(ngModel)]="lastName" name="lastName">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        <!-- <mat-icon>verified</mat-icon> -->
    </form>
</div>
<mat-card>
    <mat-card-content #name>Hello</mat-card-content>
</mat-card>

<div>
    <mat-form-field class="example-full-width-date">
        <mat-label>Enter DOB:</mat-label>
        <input matInput [matDatepicker]="myDatePicker" #dobInput (dateChange)="showAge($event)">
        <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>
    <h1 #currAge></h1>
    
</div>
</div>